.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.main-catalog {
  background: url("../images/filter-background.jpg") no-repeat 0% 0% / auto auto;
}

.footer {
  padding: 40px 70px 30px 70px;
  display: grid;
  grid-template-columns: auto 720px auto;
  column-gap: 41.5px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.visibility-hidden {
  visibility: hidden;
}
