@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}
.doubble-padding {
  padding-left: 70px;
  padding-right: 70px;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #333333;
  margin: 0;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  display: flex;
  font-weight: 700;
  color: #000000;
}
.main-logo {
  margin-bottom: -6px;
  z-index: 2;
}
.main-logo img {
  vertical-align: middle;
}
.main-navigation {
  display: flex;
  width: 100%;
}

.main-navigation .navigation-list:first-child {
  max-width: 440px;
  margin-right: auto;
  flex-wrap: wrap;
}
.navigation-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;

  line-height: 1.2em;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

ul.navigation-user .navigation-link {
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid gainsboro;
}

.btn {
  font-family: "PT Sans", sans-serif;
}
.navigation-btn {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  padding: 8px 34px;
}

.hero {
  text-align: center;
  background-color: #273e42;
  color: #ffffff;
  background-image: url("../images/svg/border.svg"),
    url("../images/main-hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: 1200px auto, cover;
  padding: 51px 70px 82px;
}
.hero img {
  vertical-align: bottom;
}

.intro-text {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
}

.intro-text-color-dark {
  color: #000000;
}
.intro-text-color-light {
  color: #ffffff;
}
.description-text {
  font-size: 22px;
  line-height: 1.2em;
}
.description-text-color-dark {
  color: #000000;
}
.description-text-color-light {
  color: #ffffff;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.intro-text {
  margin-bottom: 25px;
}
.advantages-item {
  display: flex;
  text-align: center;
}
.advantages-item img {
  vertical-align: middle;
}

.advantages-title-wrapper {
  padding: 69px 90px;
  text-align: center;
}
.advantages-item:nth-of-type(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-list li:first-child,
.advantages-list li:last-child {
  background-color: #82b3d3;
}
.advantages-item:not(:first-child, :last-child) {
  max-width: 400px;
  display: inline-block;
  padding: 102px 85px;
}
.advantages-list-item-wrapper {
  max-width: 400px;
  display: inline-block;
  padding: 102px 85px;
  text-align: center;
}

.advantages-item img {
  vertical-align: bottom;
}
.advantages-item-header {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
}

.advantages-item-desc {
  font-size: 18px;
  line-height: 1.2em;
}

.advantages-item-text-color-light {
  color: #ffffff;
}
.advantages-item-text-color-dark {
  color: #000000;
}
.advantages-item-color-light {
  background-color: #82b3d3;
}

/* .advantages-item-color-dark {
} */

.service-title-wrapper {
  padding: 64px 70px;
  text-align: center;
}
.service-item-header {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
}
.search-btn {
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}
.service-list {
  display: flex;
  text-align: center;
  width: 100%;
}

.service-item {
  max-width: 400px;
  padding: 81px 85px;
}
.service-item-desc {
  max-width: 230px;
}
.service-item:first-child,
.service-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}
.search-btn {
  padding: 8px 50px;
}
.booking {
  padding: 96px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.booking .description-text {
  max-width: 592px;
}
.booking .intro-text {
  margin-bottom: 20px;
}
.booking .description-text {
  margin-bottom: 54px;
}
.newsletter {
  display: grid;
  align-items: center;
  justify-items: center;

  background-position: center;
  background-size: cover;
  padding: 96px 70px 104px;
}
.newsletter-image {
  background-image: url("../images/newstller-background.jpg");
  color: #ffffff;
  background-color: #273e42;
}
.newsletter-btn {
  font-size: 16px;
  line-height: 1.2em;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.footer {
  padding: 40px 70px 30px 70px;
  display: grid;
  grid-template-columns: auto 720px auto;
  column-gap: 41.5px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.phone {
  font-size: 40px;
  line-height: 1.2em;
  color: #000000;
  text-align: left;
  text-decoration: none;
}
.visibility-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Стили для index.html */

.container {
  background: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 35px 70px 70px;
}
.main-catalog-header {
  font-size: 60px;
  line-height: 1.3em;
  color: #ffffff;
}
.breadcrumbs-item-link {
  font-size: 16px;
  color: #ffffff;
}
.breadcrumbs-item-link-home-page::after {
  content: "";
  display: inline-block;
  background: url("../images/svg/home-page.svg") no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
}

.breadcrumbs-item-link-home-arrow {
  content: "";
  display: inline-block;
  background: url("../images/svg/arrow-right.svg") no-repeat;
  background-size: cover;
  width: 8px;
  height: 11px;
}

.filters {
  color: #ffffff;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
}

.catalog-filter-item {
  line-height: 1.2em;
}

.catalog-filter-range-control {
  line-height: 1.2em;
  color: rgb(169, 169, 169);
}
.price-value {
  color: #000000;
  line-height: 1.2em;
}

.submit-btn {
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
}

.reset-btn {
  background-color: transparent;
  color: #ffffff;
}
.catalog-products-options {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2em;
}
.catalog-products-header {
  font-size: 30x;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
}

.view-btn-item {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-btn-item-selected {
  border-color: #000000;
}
.product-card-list-link {
  text-decoration: none;
}
.product-card-item-header {
  font-style: 24px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
}
.product-card-btn {
  font-size: 16px;
  line-height: 1.2em;
  border-radius: 4px;
}
.product-card-btn-details {
  background-color: #756157;
}
.product-card-btn-favourite {
  background-color: #82b3d3;
}
.product-card-raiting {
  width: 140px;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #f2f2f2;
}
.product-card-stars::after {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/svg/star.svg");

  color: #ffffff;
  background-repeat: repeat-x;
}

.product-card-stars-4 {
  width: 72px;
}
.product-card-stars-3 {
  width: 54px;
}
.product-card-stars-2 {
  width: 36px;
}

.pagination-item-btn {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.8em;
  text-align: center;
  background-color: #82b3d3;
  width: 60px;
  height: 60px;
}
.pagination-item-btn-current {
  color: #000000;
  background-color: #f2f2f2;
}
.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
