.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background: url("../images/main-hero.jpg") no-repeat 0% 0% / 100% auto,
    url("../images/svg/border.svg") no-repeat bottom center / 55px 100%;
}

.newsletter {
  background: url("../images/newstller-background.jpg") no-repeat 0% 0% / 100%
    auto;
}

.footer {
  padding: 40px 70px 30px 70px;
  display: grid;
  grid-template-columns: auto 720px auto;
  column-gap: 41.5px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.visibility-hidden {
  visibility: hidden;
}
