@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


ul,
p,
h3,
h2,
h1,
input {
  margin: 0;
  padding: 0;

}

ul{
 list-style-type: none;
}

* {
  box-sizing: border-box;

}
.doubble-padding {
  padding-left: 70px;
  padding-right: 70px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  color: #333333;
  margin: 0;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  display: flex;
  font-weight: 700;
  color: #000000;
}
.main-logo {

  z-index: 2;
  margin-right: 30px;
}

.main-logo-img {
  display: block;
 margin-bottom: -6px;
}
.main-logo-img:hover {
  opacity: 0.7;
}
.main-logo-img:active {
  opacity: 0.5;
}


.main-logo-img:hover {
  fill-opacity: 0.9;
}
.main-navigation {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.main-navigation .navigation-list:first-child {
  flex-grow: 1;
  flex-wrap: wrap;
}
.navigation-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.navigation-link {
  position: relative;
  padding: 20px 16px;
  font-size: 20px;
  display: block;
  line-height: 1.2em;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

.navigation-link[aria-current="page"]::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;

  right: 16px;
  left: 16px;
  bottom: -1px;
}
.navigation-link:hover{
  opacity: 0.7;
}

.navigation-link:active{
  color: rgba(60, 60, 60);
   opacity: 0.4;
}
.navigation-user {
  display: flex;

}
.navigation-user .navigation-link {
  text-decoration: none;
  position: relative;
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-user .navigation-link::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  mask-position: center;
  mask-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-link.search::before {
   mask-size: 19px 19px;
   mask-image: url('../images/svg/search.svg');
}

.navigation-link.favourite::before{
   mask-size: 18px 17px;
   mask-image: url('../images/svg/favourite.svg');
}

.navigation-user .navigation-link:hover::before {
 background-color: #756157;
}
.navigation-user .navigation-link:active::before {
 background-color: rgba(117, 97, 87, 0.6);
}

.favourite-quantity {
  position: absolute;
  padding: 5px;
  left: 20px;
  top: 11px;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-user .navigation-link:hover .favourite-quantity {
  opacity: 1;
}


.btn {
  padding: 0;
  font-family: "PT Sans", sans-serif;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.navigation-btn {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 700;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  padding: 8px 34px;
}

.navigation-btn:hover, .search-btn:hover {
  background-color: #615048;
}

.navigation-btn:active, .search-btn:active {
  background-color: #756157;
  color: rgba(255,255,255, 0.3);
}


.navigation-btn:disabled, .search-btn:disabled {
  background-color: #E5E5E5;
}

.hero {
  text-align: center;
  background-color: #273e42;
  color: #ffffff;
  background-image: url("../images/svg/border.svg"),
    url("../images/main-hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: 1200px auto, cover;
  padding: 51px 70px 82px;
}
.hero img {
  vertical-align: bottom;
}
.content-image {
  max-width: 100%;

  /* height: auto; */
}
.intro-text {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
}

.intro-text-color-dark {
  color: #000000;
}
.intro-text-color-light {
  color: #ffffff;
}
.description-text {
  font-size: 22px;
  line-height: 1.2em;
  text-align: center;
}
.description-text-limit-width {
  max-width: 475px;
  text-align: center;
}
.description-text-color-dark {
  color: #000000;
}
.description-text-color-light {
  color: #ffffff;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.intro-text {
  margin-bottom: 25px;
  text-align: center;
}
.advantages-item {
  display: flex;
  text-align: center;

}
.advantages-item img {
  vertical-align: middle;
}

.advantages-title-wrapper {
  padding: 69px 90px;
  text-align: center;
}
.advantages-title-wrapper .intro-text {
  margin: 0 auto;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.advantages-item:nth-of-type(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-list li:first-child,
.advantages-list li:last-child {
  background-color: #82b3d3;
  width: 100%;
  grid-column:  1 / -1;
}
.text-divider {
  display: block;
}
.advantages-list-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 102px 85px;
}

.advantages-list > li:nth-child(2n) .advantages-list-item-wrapper,
.advantages-list > li:nth-child(3) .advantages-list-item-wrapper {
  padding-top: 112.5px;
  padding-bottom: 112.5px;
}

.advantages-list > li:nth-child(2n) .advantages-list-item-wrapper::after,
.advantages-list > li:nth-child(3) .advantages-list-item-wrapper::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item img {
  vertical-align: bottom;
}
.advantages-item-header {
  margin: 0;
  font-size: 24px;
  line-height: 1.16em;
  font-weight: 700;
  order: -2;

  text-transform: uppercase;
  width: 175px;
}
.advantages-item-header::after {
  content: "";
  width: 60px;
  display: block;
  height: 2px;
  margin: 30px auto;
}
.advantages-item-header.advantages-item-text-color-light::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-header.advantages-item-color-dark::after {
  background: rgba(0, 0, 0, 0.3);
}
.advantages-item-desc {
  font-size: 18px;
  line-height: 1.16em;
}

.advantages-item-text-color-light {
  color: #ffffff;
}
.advantages-item-text-color-dark {
  color: #000000;
}
.advantages-item-color-light {
  background-color: #82b3d3;
}

.service-title-wrapper {
  padding: 81px 347.5px;
  text-align: center;
}
.service-item-header {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.search-btn {
  font-size: 20px;
  line-height: 1.2em;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}
.service-list {
  display: flex;
  text-align: center;
  width: 100%;
}

.service-item {
  max-width: 400px;
  padding: 81px 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-title-wrapper .intro-text {
  text-transform: uppercase;
}
.service-item::before {
  content: "";
  width: 75px;
  height: 76px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: bottom center
}
.service-item:nth-child(1)::before {
  background-image: url('../images/svg/house.svg');
}
.service-item:nth-child(2)::before {
  background-image: url('../images/svg/food.svg');
}
.service-item:nth-child(3)::before {
  background-image: url('../images/svg/gift.svg');
}
.service-item-header .service-item-desc {
  max-width: 230px;
}
.service-item:first-child,
.service-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}
.search-btn {
  padding: 8px 50px;
}
.booking {
  padding: 96px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.booking .description-text {
  max-width: 592px;
}
.booking .intro-text {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.booking .description-text {
  margin-bottom: 54px;
}
.line-break {
  display: block;
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-position: center;
  background-size: cover;
  padding: 96px 70px 104px;
}
.newsletter-image {
  background-image: url("../images/newstller-background.jpg");
  color: #ffffff;
  background-color: #273e42;
}
.newsletter-btn {
  font-size: 16px;
  line-height: 1.2em;
  color: #ffffff;
}
.newsletter .description-text {
  margin-bottom: 54px;
}

.newsletter-btn {
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  background-color: #82b3d3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
}

.newsletter-btn:hover {
  background-color: #68A2CA;
}
.newsletter-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.newsletter-btn:disabled {
  color: #E5E5E5;
}

.newsletter-form {
  display: flex;
}
.newsletter-form input {
  width: 452px;
  height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  filter: opacity(60);
  text-indent: 20px;
  border: none;
}

.newsletter-color-input {
  background-color: #f2f2f2;
}
.newsletter-form input::placeholder {
  font-size: 18px;
  line-height: 1.2em;
  color: #000000;
  filter: opacity(60%);
  margin-left: 20px;
}
.newsletter .intro-text {
  text-transform: uppercase;
}
.footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  width: 230px;
}

.social-item-link {
  display: block;
  width: 45px;
  height: 40px;
  position: relative;

}
.social-item-link-icon {
  fill: #83B3D3;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.social-item-link-icon:hover {
  fill: #68A2CA;
}
.social-item-link-icon:active {
  fill: rgba(104,162,202, 0.3);
}


.phone-link-wrapper {
  width: 400px;
  margin: 0;
}
.phone {
  display: block;
  width: fit-content;
  font-size: 40px;
  line-height: 1.2em;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}
.phone:hover {
  color: #756157;
}

.phone:active {
  color: rgba(117,97,87, 0.3);
}

.html-academy-logo{
  color: #756157;
}
.developer-logo-img:hover {
  fill-opacity: 0.7;
}
.developer-logo-img:active {
  fill: rgb(60, 60, 60)
}
.visibility-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Стили для catalog.html */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  padding: 35px 70px 70px;
}

.main-catalog-header {
  font-size: 60px;
  line-height: 1.3em;
  color: #ffffff;
  margin-bottom: 8px;
}
.breadcrumbs {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
.breadcrumbs-item-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;

}
.breadcrumbs-item-link-home-page::after {
  content: "";
  display: inline-block;
  background-image: url("../images/svg/home-page.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.breadcrumbs-item-link-home-page:hover::after{
  opacity: 0.6;
}

.breadcrumbs-item-link-home-arrow {
  content: "";
  display: inline-block;
  background: url("../images/svg/arrow-right.svg") no-repeat;
  background-size: cover;
  width: 8px;
  height: 11px;
}

.breadcrumbs-item-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-item-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-item-link:hover{
  cursor: auto;
}

.filters {
  color: #ffffff;
}
.catalog-filter {
  width: 100%;
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}
.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.with-margin-left-auto {
  margin-left: auto;
}
.with-gap {
  gap: 16px;
}
.catalog-filter-item {
  display: flex;
  line-height: 1.27em;
}
.row-reverse {
  flex-direction: row-reverse;
  gap: 16px;
}
input[type="checkbox"] {
  width: 20px;
  height: 19px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  gap: 32px;
}

.submit-btn {
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
.submit-btn:hover {
  cursor: pointer;

}
.submit-btn:hover {
  background-color: #68A2CA;
}
.submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.submit-btn:disabled {
  color: #E5E5E5;
}
.reset-btn:hover {
  cursor: pointer;
  color: rgba(255,255,255, 0.7);
}
.reset-btn:active {
  cursor: pointer;
  color: rgba(255,255,255, 0.3);
}
.reset-btn {
  background-color: transparent;
  color: #ffffff;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 16px;
}
.catalog-products {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding-right: 70px;
  padding-left: 70px;
}

.catalog-products-header {
  font-size: 30x;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.products-card-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 100%;
  gap: 20px;
  padding-bottom: 40px;
}
.products-card-list::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;

}
.catalog-products-options {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.16em;
  margin-left: auto;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  text-indent: 20px;
  appearance: none;
  background-image: url("../images//svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.view-btn-list {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
.view-btn-item {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.view-btn-item-link {
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.view-btn-item:hover {
  cursor: pointer;
}
.tile-display {
  background-image: url("../images/svg/tile-display.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.list-display {
  background-image: url("../images/svg/list-display.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.card-display {
  background-image: url("../images/svg/card-display.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.view-btn-item:hover {
  border-color: #000000;
}
.view-btn-item:active {
  border-color: #000000;
}


.product-card-item {
 padding: 20px;
 border-radius: 4px;
 border: 1px solid #E6E6E6;
 display: grid;
 grid-template-columns: 140px 140px;
 grid-template-rows: auto 1fr auto;
 gap: 20px;

}

.raiting-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1/ -1;
  align-items: center;
}
.product-card-item-link {
  grid-column: 1 / -1;
}
.product-card-item-link:hover{
  opacity: 0.7;
}
.product-card-item-link img {
  display: block;
}

.product-card-item-header{
  grid-column: 1 / -1;
}


.product-card-item-header {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
}
.product-card-item-price {
  justify-self: end;
}
.product-card-btn {
  font-size: 16px;
  line-height: 1.2em;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 18px;
  border: none;
  color: #ffffff;
  font-weight: 700;

}
.product-card-btn-favourite {
  background-color: #7DB54F;
}
.product-card-btn-favourite:hover {
  background-color: #6C9E42;
}
.product-card-btn-favourite:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}
.product-card-btn-details {
  background-color: #756157;
}
.product-card-btn-details:hover {
   background-color: #615048;
}
.product-card-btn-details:active {
  background-color: #756157;
  color: rgba(255,255,255, 0.3);
}
.product-card-btn-details:disabled {
  background-color: #E5E5E5;
}

.product-card-btn-add-to-favourite {
  background-color: #7db54f;
}

.product-card-btn-add-to-favourite:hover {
  background-color: #68A2CA;
}
.product-card-btn-add-to-favourite:active {
  color: rgba(255, 255, 255, 0.3);
}
.product-card-btn-add-to-favourite:disabled {
  color: #E5E5E5;
}

.product-card-btn-add-to-favourite {
  background-color: #82b3d3;
}



.product-card-raiting {
  font-size: 16px;
  line-height: 1.2em;
  background-color: #f2f2f2;
  padding: 8px 22px;
  border-radius: 4px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.product-card-stars::after {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/svg/star.svg");
  color: #ffffff;
  background-repeat: space no-repeat;
}

.product-card-stars-4::after {
  width: 86px;
}
.product-card-stars-3 {
  width: 63px;
}
.product-card-stars-2 {
  width: 40px;
}
.pagination-list {
  display: flex;
  gap: 8px;
  text-align: center;
  vertical-align: middle;
}
.pagination-item {
  position: relative;
}
.pagination-item-btn {
  display: block;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.8em;
  text-align: center;

  background-color: #82b3d3;
  padding: 11px 22px;
  border: none;
  border-radius: 4px;
}
.pagination-item-btn:hover {
  cursor: pointer;
}
.pagination-item-divider {
  width: 60px;
  height: 60px;
}
.pagination-item-divider span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pagination-item-btn-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-item-btn:not(.pagination-item-btn-current):hover {
  background-color: #68A2CA;
}
.pagination-item-btn:not(.pagination-item-btn-current):active {
  color: rgba(255, 255, 255, 0.3);
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 205px;
}
.footer-logo-paragraph {
  width: 230px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
